/*CUSTOM CSS*/
/*BODY*/
#body{
	background-color: #0B2161;
	color: #F3F3F3;
	font-size: 18px;
	height: 100vh;
	font-family: sans-serif;
}
/*END OF BODY*/
/*NAVIGATION*/
#navbar{
	background-color: #0B6121;
	color: black;
}
#navbar.solid{
	background-color: #0B6121;
	color: black;
	transition-delay: 0.2s;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
#navbar.nav-link{
	color: #F3F3F3;
}
#navbar.nav-link:hover{
	color: #DBDBDB;
}
/* END OF NAVIGATION */
/* INICIO */
#inicio {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/inicio.png) top center;
  background-size: cover;
}

@media (min-width: 1024px) {
  #inicio {
    background-attachment: fixed;
  }
}

#inicio .inicio-logo {
  margin: 20px;
  margin-right: 70px;
}

#inicio .inicio-logo img {
  max-width: 100%;
}

#inicio .inicio-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#inicio h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #111;
}

@media (max-width: 768px) {
  #inicio h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#inicio h2 {
  color: #0B6121;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #inicio h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #inicio h2 .rotating {
    display: block;
  }
}

#inicio .rotating > .animated {
  display: inline-block;
}
/* END OF INICIO */
/* ABOUT */
#about {
  background: #fff;
  padding: 80px 0;
  color: black;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .about-content {
  background: #fff;
}

#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

#about .about-text {
  line-height: 26px;
  margin-bottom: 15px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}
/* END OF ABOUT */
/* LINK SHOW */
.link-show{
    padding-top: 60px;
    margin-top: -60px;
}
/* END OF LINK SHOW */
/* LINKS */
.link-1{
	color: #343330;
}
.link-1:hover{
	color: #1F5673;
}
.link-2{
	color: #F3F3F3;
}
.link-2:hover{
	color: #E8F7EE;
}
.link-3{
	color: #F3F3F3;
}
.link-3:hover{
	color: #E3EDE9;
	text-decoration: none;
}
/* END OF LINKS */
/* PARALLAX */
.parallax-1{
	height: 100%;
    background-image: url("https://via.placeholder.com/1920x1280/.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.parallax-2{
	height: 100%;
    background-image: url("https://via.placeholder.com/1920x1280/.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.parallax-3{
	height: 100%;
    background-image: url("https://via.placeholder.com/1920x1280/.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.parallax-4{
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
/* END OF PARALLAX */
/* NEWSLETTER */
.newsletter{
	background-color: #F78181;
	color: black;
	border-right: 40px solid gray;
}
/* END OF NEWSLETTER */
/* BLOG */
#blog {
  background: #fff;
  padding: 80px 0;
}

#blog .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#blog .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#blog .portfolio-item .details h4 {
  font-size: 16px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#blog .portfolio-item .details span {
  display: block;
  color: #666666;
  font-size: 13px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, 15px, 0);
}

#blog .portfolio-item:hover .details {
  opacity: 0.8;
}

#blog .portfolio-item:hover .details h4 {
  transform: translate3d(0, 0, 0);
}

#blog .portfolio-item:hover .details span {
  transform: translate3d(0, 0, 0);
}
/* END OF BLOG */
/* BUTTON */
.button{
	background-color: #585858;
	color: #F3F3F3;
	border-radius: 0;
}
.button:hover{
	background-color: #1F0318;
	color: #F3F3F3;
}
/* END OF BUTTON */
/* CARD COLUMNS */
@media (min-width: 576px){
    .card-columns{
        column-count: 1;
    }
	.card-count>.card-columns{
        column-count: 1;
    }
}
@media (min-width: 768px){
    .card-columns{
        column-count: 1;
    }
	.card-count>.card-columns{
        column-count: 1;
    }
}
@media (min-width: 992px){
    .card-columns{
        column-count: 3;
    }
	.card-count>.card-columns{
        column-count: 4;
    }
}
@media (min-width: 1200px){
    .card-columns{
        column-count: 3;
    }
	.card-count>.card-columns{
        column-count: 4;
    }
}
/* END OF CARD COLUMNS */
/* TAB */
.tab .nav-link, .tab .show>.nav-link{
	color: #F3F3F3;
	border-radius: 0;
}
.tab .nav-link:hover, .tab .show>.nav-link{
	color: #DBDBDB;
	border-radius: 0;
}
.tab .nav-link.active, .tab .show>.nav-link{
	background-color: #334E58;
	color: #F3F3F3;
	border-radius: 0;
}
/* END OF TAB */
/* FOOTER */
#footer{
	background-color: black;
	color: #F3F3F3;
	position: absolute;
 	width: 100%;
}
.etiqueta-principio{
	color: black;
}
/* END OF FOOTER */
/* SCROLL TOP */
.scrolltop{
	display: none;
	width: 100%;
	margin: 0 auto;
	position: fixed;
}
.scroll{
	position: absolute;
	right: 20px;
	bottom: 20px;
	background-color: #c0b1a8;
	padding: 20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor: pointer;
	transition: 0.5s;
}
.scroll:hover{
	transition: 0.5s;	
}
.scroll .fas{
	font-size: 30px;
	color: #000000;
	margin-top: -5px;
	margin-left: 1px;
	transition: 0.5s;
}
/* END OF SCROLL TOP */
/* DOCUMENTATION */
.scroll{
	position: relative;
	height: 100vh;
	overflow-y: scroll;
}
.pre{
	color: #DBDBDB;
}
#navbar{
	margin: 0;
	padding: 0;
}
#nav-pills{
	background-color: #684551;
	color: #F3F3F3;
	width: 100vw;
	margin: 0;
	padding: 0;
	transition-delay: 0.2s;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
#nav-pills .nav-link{
	background-color: #684551;
	color: #F3F3F3;
	border: 0;
	border-radius: 0;
}
#nav-pills .nav-link:hover{
	background-color: #1F0318;
	color: #F3F3F3;
}
#Doc-nav-pills .Doc-nav-link.active,#nav-pills .show>.nav-link{
	background-color: #041F1E;
	color: #F3F3F3;
	border-radius: 0;
}
/* END OF DOCUMENTATION */
/*END OF CUSTOM CSS*/